@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* .todo{
    font-family: 'Arvo', serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
} */
.titulo{
    display: flex;
    justify-content: center;
    align-content: center;

}

.titulo h1{
  font-family: 'Arvo', serif;

}

.form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* font-family: 'Arvo', serif; */
    position: absolute;
    margin-top: 350px;
    /* top: 80%; */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    padding: 20px;
    
}



/* form starting stylings ------------------------------- */
.group {
    margin-top: 10px;
  position:relative; 
  margin-bottom:45px; 
  font-family: 'Arvo', serif;

}
.input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  font-family: 'Arvo', serif;

}
.input:focus 		{ outline:none; }

/* LABEL ======================================= */
.label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  font-family: 'Arvo', serif;

}

/* active state */
.input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}






.tempTitle{
    color:#999; 
    font-size:18px;
    font-weight:normal;
}


.error {
    display: block;
    position: absolute;
    background-color: #ffcccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
    color: #333;
  }


  .li {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .ul {
    max-width: 200px; /* Establece la altura máxima del contenedor ul */
    overflow-y: auto; 
  }

  .btns button{
    background-color: #09f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    font-family: 'Arvo', serif;
    margin-right: 25px;
  }

  .img{
    float: left;
  }

  .img2{
    float: right;
  }

  .position{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
      
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -72px 0 #000000 inset;
    }
    100% {
      box-shadow: 48px 0 #000000 inset;
    }
  }